# Environment Variable Template

# Database Configurations
MONGO_URI=mongodb://localhost:27017/cms

# Backend Configurations
PORT=5000
JWT_SECRET=supersecretjwtkey_change_in_production

# Admin Frontend Configurations
VITE_API_URL=http://localhost:5000/api/v1

# Public Frontend Configurations
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
